<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@catnap/math.js document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/atom-one-light.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
  <div id="particles-js"></div>
  <div id="app">

    <div class="topper">
      <div class="bg"></div>
      <h1>@catnap/math.js</h1>
      <div class="lead">
        This is a extension of Math object. <br>
        It inherits all attributes of Math object. <br>
        Math.js exists to enrich the functions of native Math objects, <br>
        And reduce the extra workload in actual development. <br>
        You can experience scripting in browser developer tools.
      </div>
    </div>

    <div class="container">
      <div class="row">
        <h2>How to use</h2>
        <ul class="howToUse">
          <li v-for="(n, i) in howToUse" :key="i">
            <h3>{{ n.title }}</h3>
            <pre :class="[n.language]"><code v-html="n.code"></code></pre>
          </li>
        </ul>
      </div>

      <div class="row">
        <h2>Function list</h2>
        <ul class="renderList">
          <li v-for="(n, i) in renderList" :key="i">
            <h3>{{ i + 1 }}. {{ n.title }}</h3>
            <pre class="demo javascript"><code v-html="code(n.demo)"></code></pre>
          </li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      <p>{{ copyright }}</p>
      <p id="cnzz_stat_icon_1278061537">cnzz 站长统计.</p>
    </div>
  </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
<script src="./math.js"></script>
<script type="text/javascript">
/* eslint-disable no-new */
/* global Vue math hljs particlesJS */

const highlightCode = () => {
  document.querySelectorAll('pre').forEach(el => {
    hljs.highlightBlock(el)
  })
}

new Vue({
  el: '#app',
  data () {
    return {
      startYear: 2019,
      howToUse: [
        { language: 'cmd', code: this.encodeHTML('npm install --save @catnap/math.js'), title: 'Install' },
        /* eslint-disable-next-line */
        { language: 'html', code: this.encodeHTML('\<script src="./math.js"\>\</script\>'), title: 'In html' },
        { language: 'javascript', code: this.encodeHTML('import math from \'@catnap/math.js\''), title: 'In javascript' }
      ],
      renderList: [
        {
          title: 'Inherited the method of Math object.',
          demo: [
            // { label: `const math = Object.create(Math)`, value: 'Inherited the method of Math object.' },
            { label: `math.min(1, 2)`, value: math.min(1, 2) },
            { label: `math.max(1, 2)`, value: math.max(1, 2) },
            { label: `math.pow(2, 3)`, value: math.pow(2, 3) },
            { label: `math.random()`, value: math.random() }
          ]
        },
        {
          title: 'Get the data type.',
          demo: [
            { label: `math.type(console.log)`, value: math.type(console.log) },
            { label: `math.type([])`, value: math.type([]) },
            { label: `math.type({})`, value: math.type({}) },
            { label: `math.type(null)`, value: math.type(null) },
            { label: `math.type(NaN)`, value: math.type(NaN) },
            { label: `math.type(Infinity)`, value: math.type(Infinity) },
            { label: `math.type(123)`, value: math.type(123) },
            { label: `math.type('')`, value: math.type('') },
            { label: `math.type(new Date())`, value: math.type(new Date()) },
            { label: `math.type(undefined)`, value: math.type(undefined) },
            { label: `math.type()`, value: math.type() }
          ]
        },
        {
          title: 'Parametric formatting.',
          demo: [
            { label: `math.arg(1, '2', 3, 4)`, value: math.arg(1, '2', 3, 4) },
            { label: `math.arg([1, '2', 3, 4])`, value: math.arg([1, '2', 3, 4]) },
            { label: `math.arg([1, '2'], 3, [4])`, value: math.arg([1, '2'], 3, [4]) }
          ]
        },
        {
          title: 'Array summation.',
          demo: [
            { label: `math.sum(2, 3, 5)`, value: math.sum(2, 3, 5) },
            { label: `math.sum([4, 2, 6])`, value: math.sum([4, 2, 6]) },
            { label: `math.sum([6, 8], 3, [4])`, value: math.sum([6, 8], 3, [4]) }
          ]
        },
        {
          title: 'Average value.',
          demo: [
            { label: `math.avg(2, 3, 5)`, value: math.avg(2, 3, 5) },
            { label: `math.avg([4, 2, 6])`, value: math.avg([4, 2, 6]) },
            { label: `math.avg([6, 8], 3, [4])`, value: math.avg([6, 8], 3, [4]) }
          ]
        },
        {
          title: 'Multiplication.',
          demo: [
            { label: `math.mcl(2, 3, 5)`, value: math.mcl(2, 3, 5) },
            { label: `math.mcl([4, 2, 6])`, value: math.mcl([4, 2, 6]) },
            { label: `math.mcl([6, 8], 3, [4])`, value: math.mcl([6, 8], 3, [4]) }
          ]
        },
        {
          title: 'math.hex(num, from, to)',
          demo: [
            { label: `math.hex('ff')`, value: math.hex('ff') },
            { label: `math.hex('ff', 16, 2)`, value: math.hex('ff', 16, 2) },
            { label: `math.hex('255', 10, 16)`, value: math.hex('255', 10, 16) },
            { label: `math.hex('255', 10, 2)`, value: math.hex('255', 10, 2) },
            { label: `math.hex('17', 8, 2)`, value: math.hex('17', 8, 2) },
            { label: `math.hex('ff', 8, 2)`, value: math.hex('ff', 8, 2) }
          ]
        },
        {
          title: 'Random Numbers with Range.',
          demo: [
            { label: `math.random()`, value: math.random() },
            { label: `math.random(2)`, value: math.random(2) },
            { label: `math.random(50, 100)`, value: math.random(50, 100) },
            { label: `math.random(50, 100, 2)`, value: math.random(50, 100, 2) }
          ]
        },
        {
          title: '"math.min" and "math.max" support array parameters.',
          demo: [
            { label: `Math.min([1, 2, 3])`, value: Math.min([1, 2, 3]) },
            { label: `math.min([1, 2, 3])`, value: math.min([1, 2, 3]) },
            { label: `math.min([1, 2, 3], 4, [5])`, value: math.min([1, 2, 3], 4, [5]) },
            { label: `Math.max([1, 2, 3])`, value: Math.max([1, 2, 3]) },
            { label: `math.max([1, 2, 3])`, value: math.max([1, 2, 3]) },
            { label: `math.max([1, 2, 3], 4, [5])`, value: math.max([1, 2, 3], 4, [5]) }
          ]
        },
        {
          title: 'Round up the number of reserved digits.',
          demo: [
            { label: `math.ceil(1.333)`, value: math.ceil(1.333) },
            { label: `math.ceil(1.333, 2)`, value: math.ceil(1.333, 2) }
          ]
        },
        {
          title: 'Round down the number of reserved digits.',
          demo: [
            { label: `math.floor(1.555)`, value: math.floor(1.555) },
            { label: `math.floor(1.555, 2)`, value: math.floor(1.555, 2) }
          ]
        },
        {
          title: 'Rounding the number of reserved digits.',
          demo: [
            { label: `math.round(1.333)`, value: math.round(1.333) },
            { label: `math.round(1.333, 2)`, value: math.round(1.333, 2) },
            { label: `math.round(1.555)`, value: math.round(1.555) },
            { label: `math.round(1.555, 2)`, value: math.round(1.555, 2) }
          ]
        },
        {
          title: 'Returns the number of specified ranges. Same as "Math.max(50, Math.min(number, 100))"',
          demo: [
            { label: `math.range().in(-1)`, value: math.range().in(-1) },
            { label: `math.range().in(2)`, value: math.range().in(2) },
            { label: `math.range().in(0.5)`, value: math.range().in(0.5) },
            { label: `math.range(50, 100).in(10)`, value: math.range(50, 100).in(10) },
            { label: `math.range(50, 100).in(110)`, value: math.range(50, 100).in(110) },
            { label: `math.range(50, 100).in(50)`, value: math.range(50, 100).in(50) }
          ]
        },
        {
          title: 'Returns a random number of specified ranges. Same as "math.random(50, 100, 2)"',
          demo: [
            { label: `math.range().rand()`, value: math.range().rand() },
            { label: `math.range().rand(2)`, value: math.range().rand(2) },
            { label: `math.range(50, 100).rand()`, value: math.range(50, 100).rand() },
            { label: `math.range(50, 100).rand(2)`, value: math.range(50, 100).rand(2) }
          ]
        },
        {
          title: '人民币大写',
          demo: [
            { label: `math.RMB(0.10)`, value: math.RMB(0.10) },
            { label: `math.RMB(0.01)`, value: math.RMB(0.01) },
            { label: `math.RMB(0.11)`, value: math.RMB(0.11) },
            { label: `math.RMB(10)`, value: math.RMB(10) },
            { label: `math.RMB(500)`, value: math.RMB(500) },
            { label: `math.RMB(5000000)`, value: math.RMB(5000000) },
            { label: `math.RMB(123456789)`, value: math.RMB(123456789) },
            { label: `math.RMB(123456789.50)`, value: math.RMB(123456789.50) },
            { label: `math.RMB(-0.10)`, value: math.RMB(-0.10) },
            { label: `math.RMB(-0.01)`, value: math.RMB(-0.01) },
            { label: `math.RMB(-0.11)`, value: math.RMB(-0.11) },
            { label: `math.RMB(-10)`, value: math.RMB(-10) },
            { label: `math.RMB(-500)`, value: math.RMB(-500) },
            { label: `math.RMB(-5000000)`, value: math.RMB(-5000000) },
            { label: `math.RMB(-123456789)`, value: math.RMB(-123456789) },
            { label: `math.RMB(-123456789.50)`, value: math.RMB(-123456789.50) }
          ]
        }
      ]
    }
  },
  mounted () {
    highlightCode()
    this.particlesLoad()
    this.cnzz()
  },
  updated () {
    highlightCode()
  },
  methods: {
    code (arr) {
      return arr.map(n => n.label + ' // ' + JSON.stringify(n.value)).join('\n')
    },
    encodeHTML (c) {
      return c.replace(/</g, '&lt;').replace(/>/g, '&gt;')
    },
    particlesLoad () {
      particlesJS.load('particles-js', './static/particles.json', () => {})
    },
    cnzz () {
      let script = document.createElement('script')
      script.setAttribute('src', `${window.location.protocol}//s4.cnzz.com/z_stat.php?id=1278061537&online=1&show=line`)
      document.body.appendChild(script)
    }
  },
  computed: {
    copyright () {
      let currYear = new Date().getFullYear()
      return `© ${currYear === this.startYear ? currYear : this.startYear + ' - ' + currYear} kiccer. All Rights Reserved.`
    }
  }
})
</script>
</html>
