#app {
  margin: auto;
  padding: 0 20px;
  padding-bottom: 50px;
}

.topper {
  padding: 40px 15px;
  text-align: center;
}

.topper h1 {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}

pre {
  border-radius: 5px;
  line-height: 1.5;
  font-size: 16px;
}

pre code {
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
}

.row + .row {
  margin-top: 40px;
}
